.header-top {
	display: flex;
	padding-top: 16px;

	&__content {
		font-family: 'FuturaPTMedium';
		font-size: 22px;
		margin: 4px 0 0 104px;
		letter-spacing: 0.03em;
		/*white-space: nowrap;*/

		&:nth-child(1) {
			margin: 4px 42px 0 -2px;
		}

		span {
			font-family: 'FuturaPTHeavy';
		}
	}
}

.header-bottom {
	display: flex;
	height: 43px;
	margin-top: 45px;
	/*border: 1px solid red;*/
}

.menu {
	display: flex;
	margin: 10px 0 0 68px;

	&__item {
		margin-right: 1.645em;
	}

	&__link {
		text-decoration: none;
		font-family: 'FuturaPTMedium';
		font-size: 20px;
		color: #3d3c3d;
		letter-spacing: 0.03em;
	}
}

.search {
	width: 22px;
	height: 22px;
	background-image: url('../img/search.png');
	margin: 13px 0 0 14px;
}

.language {
	display: flex;
	justify-content: space-between;
	margin: 8px 0 0 55px;
	width: 105px;

	&__item {
		font-family: 'FuturaPTMedium';
		font-size: 22px;
		letter-spacing: 0.03em;
		position: relative;

		&:before {
			position: absolute;
			content: '';
			width: 2px;
			height: 20px;
			background: #3d3c3d;
			top: 6px;
			left: -21px;
		}

		&_main {
			color: #77b8e6;
		}
	}
}

.big-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 45px;

	&__left, &__right {
		display: flex;
		/*justify-content: center;
		align-items: center;*/
		width: 610px;
		height: 350px;
		border-radius: 10px;
		box-shadow: 0 30px 30px rgba(49,49,48,.15);
	}

	&__left {
		background-color: #ffd04b;
		background-image: linear-gradient(50deg, #faa51a, rgba(255,207,75,0));
		border: solid 2px #faa51a;
	}

	&__right {
		background-color: #7fbbe7;
		background-image: linear-gradient(50deg, #3c8fc3, rgba(119,183,229,0));
		border: solid 2px #3c8fc3;
	}

	&__icon {
		width: 169px;
		height: 169px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0 2px 4px rgba(67,41,1,0.35);
		margin: 83px 0 0 94px;
		padding: 32px 0 0 37px;
	}

	&__text {
		font-family: 'FuturaPTMedium';
		font-size: 42px;
		width: 175px;
		margin: 99px 0 0 46px;
		letter-spacing: 0.02em;
		line-height: 0.97em;
		color: #3d3c3d;
	}
}

.section-history {
	margin-top: 56px;

	&__wrapper {
		display: flex;
		height: 400px;
		background-color: #f7f7f9;
		border-radius: 10px;
		margin-top: 19px;
	}

	&__img {
		width: 335px;
		height: 335px;
		border-radius: 50%;
		margin: 33px 0 0 77px;
	}

	&__content {
		width: 579px;
		margin: 83px 0 0 106px;
		letter-spacing: .063em;
	}

	&__title {
		font-family: 'FuturaPTBook';
		font-size: 27px;
	}

	&__text {
		font-family: 'FuturaPTBook';
		font-size: 22px;
		margin: 7px 0 24px 0;
		letter-spacing: 0.01em;
		line-height: 1.32em;
	}
}

.section-attractions {
	height: 393px;
	padding: 56px 0 0 0;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding-top: 24px;
	}
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.section-events {
	height: 440px;
	background: linear-gradient(to bottom, #fff6d2, #fff6d2, #fff6d2, #fff6d2, #fff);
	padding: 28px 0 0 0;
	
	&__items {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
	}

	&__item {
		width: 303px;
		height: 217px;
		border: 3px solid #ffcf4b;
		border-radius: 10px;
		padding: 16px 29px 0 29px;
	}

	&__date {
		font-family: 'FuturaPTBook';
		font-size: 26px;
		letter-spacing: 0.04em;
		background: linear-gradient(to bottom, #feca70 0%, #feca70 100%);
		background-size: 100% 3px;
		background-position: 100% 100%;
		background-repeat: no-repeat;
		padding-bottom: 23px;
	}

	&__text {
		font-family: 'FuturaPTBook';
		font-size: 18px;
		margin-top: 21px;
	}

	&__button {
		display: flex;
		justify-content: center;
		margin-top: 43px;
	}
}

.section-news {
	height: 550px;
	padding: 2px 0 0;

	&__items {
		display: flex;
		justify-content: space-between;
		margin-top: 24px;
	}

	&__item {
		width: 399px;
		height: 400px;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 10px 30px rgba(49,49,48,.07);
	}

	&__img {
		height: 191px;
		position: relative;
	}

	&__img-bg {
		position: absolute;
		bottom: 0;
	}

	&__title {
		font-family: 'FuturaPTBook';
		font-size: 22px;
		margin: 6px 25px 0 38px;
		letter-spacing: 0.028em;
		line-height: 1.23em;
	}

	&__text {
		font-family: 'FuturaPTBook';
		font-size: 18px;
		margin: 19px 25px 0 37px;
		letter-spacing: 0.02em;
		line-height: 1.23em;
	}

	&__button {
		display: flex;
		justify-content: center;
		margin-top: 45px;
	}
}

.section-subscription {
	background: #ffcf4b;
	margin-top: 73px;

	&__content {
		display: flex;
		height: 70px;
		padding: 17px 0 0 262px;
	}

	&__text {
		font-family: 'FuturaPTMedium';
		font-size: 22px;
		letter-spacing: 0.029em;
	}

	&__button {
		margin-left: 37px;
	}
}

